* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: poppinsLight ,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    font-weight: 400;
}

p {
    margin: 0 0 1em;
}


