/* MAIN-LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto 1fr;
}

.main-layout > * {
    grid-column: 2;
}

input {
    padding-inline: 20px;

    font-family: poppinsRegular, sans-serif;

    border-radius: 50px;
    border: none;
}