:root {
    /* color */

    --clrPrimary2: #b3b3b3; /* Filter bgc */
    --clrPrimary1: #383B42; /* Gallery bgc */
    --clrPrimaryBase: #22252C; /* Body bgc */

    --clrEditorBtn: #ebeef3;
    --clrBtnLineSwitch: #0f9bb4;
    --clrBtnLineAdd: #30bb72;
    --clrBtnLineDelete: #bb3d3d;
    --clrSecondary: linear-gradient(90deg, rgba(15,155,180,1) 0%, rgba(48,187,114,1) 70%); 
    --clrHeaderFont: #fff;
    --clrInputFont: #fefefe;
    --clrHeaderBtn: #21AC91;

    /* layout  */

    --header-height: 75px;
}