.editor-section {
    display: grid;
    grid-template-columns: 1fr 2.5rem 1fr;
}

.editor-section .canvas-container {
    width: 100%;
    background-color: gray;
    border-radius: 25px;
}

.editor-section .canvas-container canvas{
    font-family: myImpact;
    background-color: gray;
    border-radius: 25px;
}

.editor-section .editor-container {
    grid-column: 3;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
}

.editor-section .editor-container .search-input{
    padding-inline: 20px;

    font-family: poppins, sans-serif;
    font-size: 1.5625rem;

    border-radius: 50px;
    border: none;
}

@media (max-width: 680px) {
    .gallery-section .images {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .gallery-section img {
        width: 250px;
        height: 250px;
    }
}