.editor-section {
    display: grid;
    grid-template-columns: 60px 1fr 2.5rem 1fr 60px;
    /* grid-template-columns: 
        minmax(20px, 1fr)
        minmax(1fr, 400px)
        2.5rem
        minmax(1fr, 400px)
        minmax(20px, 1fr) */

        /* 1fr 400px 2.5rem 400px 1fr; */

    /* gap: 2.5rem; */
}

.editor-section .canvas-container {
    grid-column: 2;
    width: 100%;
    background-color: gray;
    border-radius: 25px;
    overflow: hidden;
}

.editor-section .canvas-container canvas {
    font-family: myImpact;
    background-color: gray;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.editor-section .editor-container {
    grid-column: 4;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
}

.editor-section .editor-container .search-input {
    padding-inline: 20px;

    font-family: poppins, sans-serif;
    font-size: 1.5625rem;

    border-radius: 50px;
    border: none;
}

.editor-section .line-editors,
.editor-section .text-editors,
.editor-section .stickers,
.editor-section .actions {
    margin-top: 10px; 
}

@media (max-width: 980px) {
    .editor-section {
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 1fr 2.5rem 1fr;
        margin-block-start: 2rem;
    }


    .editor-section .canvas-container {
        grid-column: 2 / 3;
        grid-row: 1;
    }
    
    .editor-section .editor-container {
        grid-column: 2 / 3;
        grid-row: 3;
    }

}

@media (max-width: 680px) {
    .editor-section {
        grid-template-columns: 60px 1fr 60px;
    }
}