.gallery-section {
    display: none;
}

.gallery-section > * {
    padding: 20px;
}

.gallery-section input {
    padding-block: 5px;
    padding-inline-start: 30px;
    font-size: 1rem;
}

.gallery-section .images-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
}

.gallery-section img {
    width: 100%;

    border-radius: 15px;
    padding: 10px;
}

@media (max-width: 680px) {
    .gallery-section .images-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* background: linear-gradient(90deg, rgba(15,155,180,1) 0%, rgba(48,187,114,1) 50%); */