header {
    margin: 5px;
    background-color: gray;
    border-radius: 50px;
    background-color: var(--clrMenu);
    color: var(--clrHeaderFont);
    font-family: poppinsRegular, sans-serif;
    
}

header>* {
    padding: 15px;
}

header .logo {
    font-size: 1.375rem;
    margin-inline-start: 50px;
}

header li {
    margin: 5px;
    border-radius: 50px;
}

header a {
    padding: 5px 20px;
    border-radius: 50px;

    font-size: 1.3125rem;
    color: inherit;
    text-decoration: none;
}

header a:hover {
    background-color: #fefefe;
    color: var(--clrMenu)
}